In [12]:
import pandas as pd

In [13]:
n=pd.read_csv('./ntai_marry.csv')
t=pd.read_csv('./tai_marry.csv')

In [14]:
# concat files
marry=pd.concat([n,t])

In [15]:
# clean data
marry['district']=marry['district'].str[:-1]
marry['district']=marry['district'].str[-2:]

In [16]:
marry

     date district  marry_rate
0     102       板橋    7.306436
1     102       三重    7.259877
2     102       中和    7.560000
3     102       永和    6.537199
4     102       新莊    7.277429
..    ...      ...         ...
103   110       文山    4.140000
104   110       南港    4.850000
105   110       內湖    4.840000
106   110       士林    4.850000
107   110       北投    4.420000

[369 rows x 3 columns]

In [18]:
#　save csv
marry.to_csv('../cleaned_data/marry.csv',index=False)