In [56]:
import pandas as pd
files=['tai_g.csv','ntai_g.csv']
n=pd.read_csv('ntai_g.csv')
t=pd.read_csv('tai_g.csv')

In [69]:
t

     index  Unnamed: 0 district  date  growth     g_ave    g_rate
2        2           6       中山   102    1716  227895.0  0.007530
3        3           6       中山   103    1570  229711.0  0.006835
4        4           6       中山   104     517  231091.5  0.002237
5        5           6       中山   105     -39  231266.5 -0.000169
6        6           6       中山   106    -622  231021.0 -0.002692
..     ...         ...      ...   ...     ...       ...       ...
127    127           9       萬華   106   -1565  192632.5 -0.008124
128    128           9       萬華   107   -2144  190675.0 -0.011244
129    129           9       萬華   108   -2311  188231.5 -0.012277
130    130           9       萬華   109   -3760  184968.0 -0.020328
131    131           9       萬華   110   -6008  179621.0 -0.033448

[108 rows x 7 columns]

In [68]:
# clean cols
t=t.drop(t[t['date']<102].index)
t=t.drop(columns=['population','Month','prev_pop'])

n=n.drop(n[n['date']<102].index)

In [77]:
popg=pd.concat([n,t])

In [78]:
popg.shape

(369, 7)

In [91]:
popg=popg[['date','district','growth','g_ave','g_rate']]

In [94]:
popg.to_csv('../cleaned_data/popg.csv',index=False)