In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("NA8201A1Ac.csv", header=[0])
#pd.set_option("display.max_columns", None)

In [3]:
df.columns

Index(['時間', '原始值', ' 年增率(%)'], dtype='object')

In [4]:
df

     時間       原始值   年增率(%)
0  2012  11858812     2.88
1  2013  12346322     4.11
2  2014  13236549     7.21
3  2015  14041824     6.08
4  2016  14346163     2.17
5  2017  14775599     2.99
6  2018  14829246     0.36
7  2019  15159996     2.23
8  2020  16348781     7.84
9  2021  17198616     5.20

In [5]:
df.rename(columns = {'時間':'ROC_year',
                     '原始值':'income',
                     ' 年增率(%)':'income_rate',
                    }, inplace = True)

In [6]:
df

   ROC_year    income  income_rate
0      2012  11858812         2.88
1      2013  12346322         4.11
2      2014  13236549         7.21
3      2015  14041824         6.08
4      2016  14346163         2.17
5      2017  14775599         2.99
6      2018  14829246         0.36
7      2019  15159996         2.23
8      2020  16348781         7.84
9      2021  17198616         5.20

In [7]:
df['ROC_year']=df['ROC_year']-1911

In [8]:
df

   ROC_year    income  income_rate
0       101  11858812         2.88
1       102  12346322         4.11
2       103  13236549         7.21
3       104  14041824         6.08
4       105  14346163         2.17
5       106  14775599         2.99
6       107  14829246         0.36
7       108  15159996         2.23
8       109  16348781         7.84
9       110  17198616         5.20

In [9]:
# 轉換成main dataframe一樣的欄位方便合併
df.rename(columns = {'ROC_year':'date'}, inplace = True)

In [10]:
df.to_csv("income.csv", index=False)