In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("消費者貸款及建築貸款餘額.csv", header=[0])
#pd.set_option("display.max_columns", None)

In [4]:
df.columns

Index(['月份', '原始值', '年增率(%)', '原始值.1', '年增率(%).1'], dtype='object')

In [6]:
df['月份']

0                                                2012M01
1                                                2012M02
2                                                2012M03
3                                                2012M04
4                                                2012M05
                             ...
125                         包括本國一般銀行、外國銀行在台分行及中小企業銀行資料。
126               3.建築貸款 : 包括對建築業貸款、對其他企業建築貸款及對個人戶建築貸款。
127                 4.信用卡循環信用餘額 : 信用卡循環信用餘額８５年１２月以前缺資料。
128    (http://win.dgbas.gov.tw/dgbas03/bs7/calendar/...
129                            =213 target=_blank) more
Name: 月份, Length: 130, dtype: object

In [4]:
df = df.iloc[:,0:2]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    483 non-null    int64
 1   失業率(%)  483 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 7.7 KB

In [6]:
# df

In [7]:
# 轉換為民國年
df['Date'] = df['Date']-191100
df.rename(columns = {'Date':'ROC_year'}, inplace = True)
df.rename(columns = {'失業率(%)':'unemployment_rate'}, inplace = True)

In [8]:
df

     ROC_year  unemployment_rate
0        7101               1.36
1        7102               1.62
2        7103               1.32
3        7104               1.49
4        7105               1.98
..        ...                ...
478     11011               3.66
479     11012               3.64
480     11101               3.61
481     11102               3.65
482     11103               3.66

[483 rows x 2 columns]

In [9]:
print(df[df['ROC_year'] == 10101])
print(df[df['ROC_year'] == 11012])

     ROC_year  unemployment_rate
360     10101               4.18
     ROC_year  unemployment_rate
479     11012               3.64

In [10]:
df = df.iloc[360:480,]

In [11]:
df

     ROC_year  unemployment_rate
360     10101               4.18
361     10102               4.25
362     10103               4.17
363     10104               4.10
364     10105               4.12
..        ...                ...
475     11008               4.24
476     11009               3.96
477     11010               3.83
478     11011               3.66
479     11012               3.64

[120 rows x 2 columns]

In [14]:
df.to_csv("unemployment_rate.csv", index=False)