In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("落後指標構成項目.csv", header=[0])
#pd.set_option("display.max_columns", None)

In [3]:
df

,Date,失業率(%),製造業單位產出勞動成本指數(2011=100),金融業隔夜拆款利率(年息百分比),全體金融機構放款與投資(10億元),製造業存貨價值(千元)
0,198201,1.36,121.65,12.890,-,159946328
1,198202,1.62,96.58,14.830,-,165470731
2,198203,1.32,84.16,11.720,-,163420163
3,198204,1.49,87.20,11.870,-,161756961
4,198205,1.98,86.56,11.990,-,161732827
...,...,...,...,...,...,...
478,202111,3.66,79.21,0.082,49320,791282636
479,202112,3.64,81.39,0.083,49784,800992784
480,202201,3.61,159.72,0.085,50211,795119370
481,202202,3.65,91.41,0.081,50256,811754362
482,202203,3.66,72.72,0.122,50654,820834586

In [4]:
df = df.iloc[:,0:2]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    483 non-null    int64
 1   失業率(%)  483 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 7.7 KB

In [6]:
# df

In [7]:
# 轉換為民國年
df['Date'] = df['Date']-191100
df.rename(columns = {'Date':'ROC_year'}, inplace = True)
df.rename(columns = {'失業率(%)':'unemployment_rate'}, inplace = True)

In [8]:
df

     ROC_year  unemployment_rate
0        7101               1.36
1        7102               1.62
2        7103               1.32
3        7104               1.49
4        7105               1.98
..        ...                ...
478     11011               3.66
479     11012               3.64
480     11101               3.61
481     11102               3.65
482     11103               3.66

[483 rows x 2 columns]

In [9]:
print(df[df['ROC_year'] == 10101])
print(df[df['ROC_year'] == 11012])

     ROC_year  unemployment_rate
360     10101               4.18
     ROC_year  unemployment_rate
479     11012               3.64

In [10]:
df = df.iloc[360:480,]

In [11]:
df

     ROC_year  unemployment_rate
360     10101               4.18
361     10102               4.25
362     10103               4.17
363     10104               4.10
364     10105               4.12
..        ...                ...
475     11008               4.24
476     11009               3.96
477     11010               3.83
478     11011               3.66
479     11012               3.64

[120 rows x 2 columns]

In [12]:
# 轉換成main dataframe一樣的欄位方便合併
df.rename(columns = {'ROC_year':'date'}, inplace = True)

C:\Users\Student\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [13]:
df.to_csv("unemployment_rate.csv", index=False)